{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
{% endblock%}

{% block content %}
  <h1 class="text-2xl font-semibold mb-4">Dashboard de Número de Processo</h1>
  <div class="grid grid-cols-2 gap-4">
    {% for processo in processos %}
      <div class="bg-white p-4 rounded shadow">
        <p><strong>Número de Processo:</strong> {{ processo.numero }}</p>
        <!-- Adicione outras informações do processo aqui -->
      </div>
    {% endfor %}
  </div>
{% endblock %}
